/*
* Media Queries ------------------
*/

/* Tablet */
@media screen and (max-width:800px) {
    .container {
      width: 100%;
    }
    .deck {
      max-width: 600px;
      min-height: 580px;
    }
    .deck .card {
      height: 110px;
      width: 110px;
    }
  }
 
  /* Phone/Small Tablet */
  @media screen and (max-width:600px) {
    .deck {
      max-width: 410px;
      min-height: 380px;
    }
    .deck .card {
      height: 70px;
      width: 70px;
    }
  }
  
  /* Small Phone */
  @media screen and (max-width:400px) {
    .game-panel {
        width: 400px;
    }
    .deck {
      max-width: 270px;
      min-height: 300px;
      padding: 18px;
    }
    .deck .card {
      height: 50px;
      width: 50px;
      font-size: 23px;
    }
  }